# URL Endpoint API Backend (Ganti dengan URL production saat dihosting)
VITE_API_URL=http://localhost:8080/api

# Judul Aplikasi
VITE_APP_TITLE=KPI System - PT. Cakra Media Data

# Secret Key SMTP (JANGAN ISI KEY ASLI DI SINI)
SMTP_KEY=your_smtp_key_here
